.bubble {
    height: 48vh;
    width: 48vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.title {
    position: absolute;
    font-size: 10vw;
    background-image: linear-gradient(to right, rgb(255, 253, 149), #f9d1f5);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-color: #aaa;
    -webkit-text-stroke-width: 1px;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 803px) {
    .bubble {
        height: 90vh;
        width: 90vw;
    }
    .title {
        font-size: 20vw;
    }
}